  *{ margin:0;
     padding:0;
	 box-sizing:border-box;
  }
 .flex-sec{ width:100%;
 }
  .container{  
  background-color:#ddbdbd;
  margin:0 auto;
  padding:0 20px;
  }
  .flex-container{ width:100%;
  height:40vh;
  background-color:#ddbdbd;
  margin:30px 0;
  }
  
   h1{ background-color:black;
      color:white;
	  font-size:24px;
  }

  .content{ border:solid 2px blue;
      background-color:black;
	  text-align:center;
	  color:white;
	  padding:40px 40px;
	  font-size:36px;
	  margin:20px 0;
  }
  .con-col{ width:100px;
  border:solid 2px blue;
      background-color:black;
	  text-align:center;
	  color:white;
	  padding:40px 40px;
	  font-size:36px;
  
  }
/*=======Flex-Direction========*/
  .row{ display:flex;
		flex-direction:row;
  }
  .row1{ display:flex;
		flex-direction:row-reverse;
  }
  .row2{ display:flex;
		flex-direction:column;
  }
  .row3{ display:flex;
		flex-direction:column-reverse;
  }
 /*=======Flex-Wrap========*/
 .row4{ display:flex;
		flex-wrap:wrap;
  }
  .row5{ display:flex;
		flex-wrap: no-wrap;
  }
  .row6{ display:flex;
		flex-wrap:wrap-reverse;
  }
/*=======Flex-flow========*/
  .row7{ display:flex;
		flex-flow:row wrap;
  }
/*=======justify-content========*/
  .row8{ display:flex;
         justify-content:flex-start;
  }
  .row9{ display:flex;
        justify-content:flex-end;
  }
   .row10{ display:flex;
	justify-content:center;
   }
   .row11{ display:flex;
        justify-content:space-around;
  }
   .row12{ display:flex;
        justify-content:space-between;
  }
   .row13{ display:flex;
        justify-content:space-evenly;
  }
  
/*--------align-items-------*/
.row14{ 
 display:flex;
 align-items:flex-start;
height:40vh;
}
.row15{ display: flex;
  align-items: flex-end;
 height:40vh;
}
.row16{ display:flex;
 align-items:center;
 height:40vh;
}
.row17{display:flex;
 align-items:stretch;
  height:40vh;
}
  .row18{ display:flex;
        padding:15px 0;
        align-items:baseline;
  }
  .content1{ width:50%;
 height:50px;
 background-color:white;
  }
  .content2{ width:50%;
 height:60px;
 background-color:white;
  }
  .content3{ width:100px;
 height:100px;
 background-color:white;
  }
  .content4{ width:100px;
 height:50px;
 background-color:white;
  }
  /*=======Align-content========*/
   .row19{ display:flex;
		flex-wrap:wrap;
        align-content:flex-start;
		height:70vh;
        padding:15px 0;		
  }
  .row20{ display:flex;
		flex-wrap:wrap;
        align-content:flex-end;
		height:70vh;
  }
 .row21{ display:flex;
		flex-wrap:wrap;
        align-content:center;
	    height:70vh;
  }
  .row22{ display:flex;
		flex-wrap:wrap;
        align-content:stretch;
	height:70vh;
  }
  .row23{ display:flex;
		flex-wrap:wrap;
        align-content:space-around;
		 height:70vh;
  }
  .row24{ display:flex;
		flex-wrap:wrap;
        align-content:space-between;
		height:70vh;
  }
 /*=======Order========*/
 .row25{display:flex;
		flex-wrap:wrap;
 }
 .order-1{ order:4;
 }
 .order-2{ order:3;
 }
 .order-3{ order:2;
 }
 .order-4{ order:1;
 }
 /*=======Flex-grow========*/
 
.grow{
	display:flex;
	flex-wrap:wrap;
	background-color:green;
}
.grow-in-1{
	
	flex-grow:8;
}
.grow-in-2{
	flex-grow:6;
}
/*=========Flex-shrink=========*/
.shrink{
	display:flex;
	flex-wrap:wrap;
}
.shrink-in{
	flex-shrink:1;
}
/*=========Flex-basis=========*/
.basis{
	display:flex;
	flex-wrap:wrap;
}
.basis-in-1{
	flex-basis:200px;
}
.basis-in-2{
	flex-basis:500px;
}
/*=========Flex item:flex=========*/
.row-flex{
	display:flex;
	flex-wrap:wrap;
}
.flex-1{
	flex:3 0 0;
}
/*=========Align-self========*/
.row-as{
	display:flex;
	flex-wrap:wrap;
	height:40vh;
	background-color:#9f9f9f;
}
.flex-start{
	align-self:flex-start;
}
.flex-center{
	align-self:center;
}
.flex-end-3{
	align-self:flex-end;
}
